@font-face {font-family: 'WorkSans-Regular';src: url('WorkSans-Regular.otf');src: url('WorkSans-Regular.otf?#iefix') format('embedded-opentype'),url('WorkSans-Regular.woff2') format('woff2'),url('WorkSans-Regular.woff') format('woff'),url('WorkSans-Regular.ttf') format('truetype');}

@font-face {font-family: 'WorkSans-Bold';src: url('WorkSans-Bold.otf');src: url('WorkSans-Bold.otf?#iefix') format('embedded-opentype'),url('WorkSans-Bold.woff2') format('woff2'),url('WorkSans-Bold.woff') format('woff'),url('WorkSans-Bold.ttf') format('truetype');}

@font-face {font-family: 'WorkSans-Light';src: url('WorkSans-Light.otf');src: url('WorkSans-Light.otf?#iefix') format('embedded-opentype'),url('WorkSans-Light.woff2') format('woff2'),url('WorkSans-Light.woff') format('woff'),url('WorkSans-Light.ttf') format('truetype');}
