/*
 Theme Name:   Hatecrime Child
 Template:     nirvana
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Text Domain:  nirvana-child
*/

html, body, div, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    font-family: WorkSans-Regular;
}

b, strong {
    font-family: WorkSans-Bold;
    font-weight: normal;
    font-style: normal;
}

a, a:link, a:visited, a:active, a:hover {
    color: #e01a4d;
}

#content .entry-content p {
	margin-bottom: 0;
}

.entry-content ul > li.post-attachment {
    margin-top: 20px
}

#content li.post-attachment img {
    float: left;
    padding-right: 20px;
}

.entry-content {
    clear: none;
}

#topbar {
    display: none;
}

.social {
	position: absolute;
	right: 20px;
	top: 20px;
}

.social img {
	width: 150px;
}

#bg_image {
    display: inline;
}

#branding {
    background-color: #000;
}

#forbottom {
    min-height: 0;
    padding: 0;
}

/****************************
* header, footer
*/
.left {
    float: left;
}
.right {
    float: right;
}

#header, #myfooter {
    background-color: #e01a4d;
}

#header {
    height: 120px;
}

#masthead h1 a {
    font-family: WorkSans-Bold;
    font-size: 50px;
    color: #fff;
    line-height: 120px;
    margin-left: 20px;
    letter-spacing: -3px;
}

#masthead .right {
    margin-right: 20px;
    padding-top: 31px;
}

.strike1 {
    text-decoration: line-through;
    text-decoration-thickness: 3px;
    color: #000;
}

.strike2 {
    color: #fff;
    font-family: WorkSans-Bold;
}

.home #myfooter,
.page-template-map-template #myfooter {
    position: absolute;
    bottom: 0;
    width: 100%;
}

#myfooter {
    color: #fff;
}

#myfooter .left, #myfooter .right {
    padding: 5px 20px;
    line-height: 20px;
}

#myfooter .middle {
    display: none;
}

#myfooter .middle img,
.footer .middle img {
    vertical-align: middle;
}

.page-id-60 #myfooter .middle,
.home .footer .middle {
    display: block;
    color: black;
    clear: both;
    text-align: center;
    border-top: 1px solid #fff;
}

.strike {
    text-decoration: line-through;
    text-decoration-thickness: 2px;
}

.logo, .twitter, .facebook {
    width: 24px;
    height: 24px;
    float: left;
    margin-right: 5px;
}

.logo {
    background-image: url('assets/logo_footer.svg');
    width: 137px;
}
.type-aporofobia .logo {
    background-image: url('assets/logo_small.svg');
}

.twitter {
    background-image: url('assets/twitter_white.svg');
}
.type-aporofobia .twitter {
    background-image: url('assets/twitter.svg');
}

.facebook {
    background-image: url('assets/facebook_white.svg');
    float: right;
}
.type-aporofobia .facebook {
    background-image: url('assets/facebook.svg');
}

/****************************
* slider
*/
.slider-text-separator {
	display: none !important;
}

.nivo-caption {
	top: auto !important;
    bottom: 15% !important;
}

.slide-text {
	text-align: center !important;
	background-color: transparent;
}

.nivo-caption .inline-slide-text {
	font-size: 20px !important;
	background-color: rgba(0, 0, 0, 0.8) !important;
	box-shadow: none !important;
	padding: 5px;
}

/****************************
* map
*/
.page-id-2 .entry-title, .page-id-2 #breadcrumbs, .page-id-44 .entry-title, .page-id-44 #breadcrumbs {
    display: none;
}

.page-id-2 #main, .page-id-44 #main {
    margin-top:0;
}

.page-id-2 #forbottom, .page-id-44 #forbottom {
    max-width: none;
    padding-top:0;
} 

.page-id-2 .entry-content, .page-id-44 .entry-content {
    padding-top:0;
} 

div.page {
    margin-bottom: 0;
}

span.edit-link {
    display: none;
}

#footer {
    margin-top: 0;
}

#content h1.entry-title, #content h3 {
    color: #e01a4d;
}

.single #content h1.entry-title {
    font-size: 36px;
}

/****************************
* single-hatecrime
*/

.single-hatecrime .cat.aporofobia,
.single-hatecrime .type-aporofobia #fitxa,
#crims .aporofobia,
#filtros .filter-btn.aporofobia {
    background-color: #f0e52b;
}
.single-hatecrime .cat.homofobia,
.single-hatecrime .type-homofobia #fitxa,
#crims .homofobia,
#filtros .filter-btn.homofobia {
    background-color: #4f4898;
}
.single-hatecrime .cat.otros,
.single-hatecrime .type-otros #fitxa,
#crims .otros,
#filtros .filter-btn.otros {
    background-color: #f8ac00;
}
.single-hatecrime .cat.islamofobia,
.single-hatecrime .type-islamofobia #fitxa,
#crims .islamofobia,
#filtros .filter-btn.islamofobia {
    background-color: #4faf42;
}
.single-hatecrime .cat.odioideologico,
.single-hatecrime .type-odioideologico #fitxa,
#crims .odioideologico,
#filtros .filter-btn.odioideologico {
    background-color: #c26b35;
}
.single-hatecrime .cat.racismoxenofobia,
.single-hatecrime .type-racismoxenofobia #fitxa,
#crims .racismoxenofobia,
#filtros .filter-btn.racismoxenofobia {
    background-color: #db1c46;
}
.single-hatecrime .cat.transfobia,
.single-hatecrime .type-transfobia #fitxa,
#crims .transfobia,
#filtros .filter-btn.transfobia {
    background-color: #bb61a2;
}
.single-hatecrime .cat.futbol,
.single-hatecrime .type-futbol #fitxa,
#crims .futbol,
#filtros .filter-btn.futbol {
    background-color: #29b0e6;
}
.single-hatecrime .cat.antisemitismo,
.single-hatecrime .type-antisemitismo #fitxa,
#crims .antisemitismo,
#filtros .filter-btn.antisemitismo {
    background-color: #c23f32;
}
.single-hatecrime .cat.disfobia,
.single-hatecrime .type-disfobia #fitxa,
#crims .disfobia,
#filtros .filter-btn.disfobia {
    background-color: #61873f;
}
.single-hatecrime .cat.romafobia,
.single-hatecrime .type-romafobia #fitxa,
#crims .romafobia,
#filtros .filter-btn.romafobia {
    background-color: #98B321;
}

.single-hatecrime #main {
    margin-top: 0 !important;
}

.single-hatecrime #main #forbottom {
    padding: 0;
    margin: 0;
    max-width: none;
}

.single-hatecrime .cat {
    padding: 20px 15px;
}

.single-hatecrime #content .cat h3 {
    font-family: WorkSans-Bold;
    color: #FFF;
    line-height: 70px;
}
.single-hatecrime #content .cat.aporofobia h3 {
    color: #000;
}

.single-hatecrime #fitxa p {
    color: #FFF;
}
.single-hatecrime .type-aporofobia #fitxa p {
    color: #000;
}

.single-hatecrime .cat img {
    float: right;
    max-height: 70px;
    max-width: 130px;
}

.single-hatecrime #content .entry-title {
    font-family: WorkSans-Bold;
    margin: 40px 15px -10px;
    color: #000;
    border-bottom: 5px solid black;
}

#fitxa-description {
    padding: 0 15px 30px;
}

#fitxa-description p {
    padding-top: 10px;
}

#fitxa {
    padding: 15px;
}

.single-hatecrime .entry-content {
    padding: 15px;
}

.single-hatecrime .entry-content h3 {
    font-family: WorkSans-Bold;
    border-bottom: 5px solid black;
}

.single-hatecrime #fitxa-description h3 {
    border: none;
}

.single-hatecrime .entry-footer {
    padding: 15px;
}

.single-hatecrime a.landing-btn {
    width: 220px;
    padding: 5px 10px;
    font-size: 18px;
    font-family: 'WorkSans-Bold';
    color: #fff;
    background-color: #e01a4d;
}

.single-hatecrime a.landing-btn.black {
    color: #fff;
    background-color: #000;
}

.entry-content ul.videos {
    list-style-image: url('assets/video.svg');
    list-style-position: inside;
    margin: 0;
}

.entry-content ul.fuentes {
    list-style-image: url('assets/document.svg');
    list-style-position: inside;
    margin: 0;
}

.single-hatecrime .entry-content li {
    border-bottom: 1px solid black;
    margin-top: 10px;
    padding: 5px 0;
}

/****************************
* single-hatecrime-fitxa
*/

.single-fitxa .type-aporofobia {
    background-color: #f0e52bdd;
    color: #000000;
}
.single-fitxa .type-homofobia {
    background-color: #4f4898dd;
    color: #ffffff;
}
.single-fitxa .type-otros {
    background-color: #f8ac00;
    color: #ffffff;
}
.single-fitxa .type-islamofobia {
    background-color: #4faf42dd;
    color: #ffffff;
}
.single-fitxa .type-odioideologico {
    background-color: #c26b35dd;
    color: #ffffff;
}
.single-fitxa .type-racismoxenofobia {
    background-color: #db1c46dd;
    color: #ffffff;
}
.single-fitxa .type-transfobia {
    background-color: #bb61a2dd;
    color: #ffffff;
}
.single-fitxa .type-futbol {
    background-color: #29b0e6dd;*/
    color: #ffffff;
}
.single-fitxa .type-antisemitismo {
    background-color: #c23f32dd;
    color: #ffffff;
}
.single-fitxa .type-disfobia {
    background-color: #61873fdd;
    color: #ffffff;
}

.single-fitxa, 
.single-fitxa #content h1, 
.single-fitxa #content h2, 
.single-fitxa #content h3 {
    color: #fff;
}

.single-fitxa #content .type-aporofobia h1, 
.single-fitxa #content .type-aporofobia h2, 
.single-fitxa #content .type-aporofobia h3 {
    color: #000;
}

.single-fitxa #content h1, 
.single-fitxa #content h2 {
    font-family: WorkSans-Bold;
}

.single-fitxa #content h1 {
    font-size: 80px;
    line-height: 76px;
}

.single-fitxa #post-678 h1 {
    font-size: 76px;
    line-height: 72px;
}

.single-fitxa #content h2 {
    font-size: 24px;
    line-height: 1em;
}

.single-fitxa #content h3 {
    font-family: WorkSans-Light;
    font-size: 30px;
    line-height: 30px;
}

.single-hatecrime #content p {
    line-height: 1.3em;
}

.single-hatecrime .single-fitxa .continue-reading-link {
    display: none;
}

.single-hatecrime #main.single-fitxa {
    width: 1024px;
    height: 512px;
    margin: 0;
    position: relative;
}

.single-fitxa #container,
.single-fitxa #content,
.single-fitxa .hatecrime {
    height: 100%;
}

.single-fitxa #content {
    padding: 0;
    background-size: cover;
    background-position: center;
}

.single-fitxa #content .hatecrime {
    padding: 40px;
}

.single-fitxa .entry-icons {
    float: right;
}

.single-fitxa .entry-icons img {
    max-height: 75px;
    max-width: 75px;
}

.single-fitxa .logo {
    width: 24px;
}

.single-fitxa .entry-header {
    margin-top: 28px;
}

.single-fitxa .entry-content {
    font-size: 29px;
    padding: 0;
    margin-top: 24px;
}

.single-fitxa .entry-info {
    font-size: 24px;
    line-height: 1em;
    position: absolute;
    bottom: 40px;
    width: calc(100% - 80px);
}

/****************************
* navbar
*/

/*#access, #nav-toggle, #access ul li {
    background-color: #e9e9e9 !important;
}*/

#access ul li a {
    font-size: 16px !important;
}

#access a span {
    color: #000;
    text-transform: lowercase;
    padding-top: 10px; 
    padding-bottom: 10px; 
    letter-spacing: -1px;
}

#access .current-menu-item a span {
    color: #e01a4d;
}

#access .wpm-language-switcher {
    float: right;
    font-size: 16px;
}

#access .wpm-language-switcher .active {
    font-family: 'WorkSans-Bold';
    line-height: 45px;
}

#access .wpm-language-switcher a>span,
#access .wpm-language-switcher span>span {
    padding: 10px;
}

#access .wpm-language-switcher a>span>span {
    padding: 0;
}

#access .wpm-language-switcher a span {
    text-transform: none;
}

#access div.menu {
    max-width: none;
    margin-left: 20px;
}

#access a > span {
    padding-left: 12px;
}

.page #content {
    padding: 50px;
}

.page #content h1.entry-title {
    font-family: "WorkSans-Bold";
}

.page #myfooter {
    position: fixed;
    width: 100%;
    bottom: 0;
}

/*.page #access ul > li.current_page_item, .page #access ul > li.current-menu-item, .page #access ul > li.current_page_ancestor, .page #access ul > li.current-menu-ancestor {
    background-color: #e01a4d;
}*/

.filters-mobile {
    display: none;
}

/* temporary disable EN language */
.item-language-en {
    display: none !important;
}