/****************************
* media
*/

@media screen and (max-width: 768px) {
    #bg_image {
        width: initial !important;
    }
    #map2 {
        display: none;
    }
    #main {
        background-color: transparent;
    }
    #access {
        z-index: 1;
    }

    #header {
        height: 85px !important;
    }

    #header .left {
        display: none;
    }

    #header #masthead .right {
        float: left;
        margin-left: -20px;
        padding-top: 10px;
    }

    #nav-toggle {
        display: inline;
        width: auto;
        float: right;
        margin: 20px;
        background-color: #FFF !important;
        padding: 3px 0 0 5px;
        height: 45px;
    }

    #nav-toggle span {
        color: #000 !important;
    }

    #nav-toggle span:before {
        font-size: 30px;
    }

    #access a span,
    #access span {
        color: #393536;
        font-size: 1.5em;
    }

    #crims_wrapper {
        overflow: hidden;
    }

    #crims_wrapper th:nth-of-type(4),
    #crims_wrapper td:nth-of-type(4),
    #crims_wrapper th:nth-of-type(5),
    #crims_wrapper td:nth-of-type(5),
    #crims_wrapper th:nth-of-type(6),
    #crims_wrapper td:nth-of-type(6),
    #crims_wrapper th:nth-of-type(7),
    #crims_wrapper td:nth-of-type(7) {
        display: none;
    }

    .filters-desktop {
        display: none;
    }

    .filters-mobile {
        display: block !important;
        padding: 10px;
    }

    .filters-mobile h3 {
        color: #e01a4d;
        font-family: WorkSans-Bold;
    }

    #content {
        padding: 0;
    }
}