.aporofobia .bar {
    background-color: #f0e52b;
}
.homofobia .bar {
    background-color: #4f4898;
}
.otros .bar {
    background-color: #f8ac00;
}
.islamofobia .bar {
    background-color: #4faf42;
}
.odioideologico .bar {
    background-color: #c26b35;
}
.racismoxenofobia .bar {
    background-color: #db1c46;
}
.transfobia .bar {
    background-color: #bb61a2;
}
.futbol .bar {
    background-color: #29b0e6;
}
.antisemitismo .bar {
    background-color: #c23f32;
}
.disfobia .bar {
    background-color: #61873f;
}
.romafobia .bar {
    background-color: #98B321;
}

html, body {
	height: 100%;
}

.strike {
	text-decoration: line-through;
}

.front #content {
    padding: 0;
}

.front-header {
    padding: 20px 20px 0 20px;
}

.front-footer {
    position: absolute;
}

.footer {
	bottom: 0;
    color: #ffffff;
    font-size: 18px;
    width: 100%;
    background-color: #e01a4d;
    display: inline-block;
}

.footer .left, .footer .right {
    padding: 20px;
}

.footer .middle {
    clear: both;
    text-align: center;
    border-top: 1px solid #fff;
}

.front-slidedown {
    background-image: url('../assets/down.svg');
    width: 33px;
    height: 33px;
	margin: auto;
    margin-top: 20px;
    cursor: pointer;
}

.front .wpm-language-switcher, .front .wpm-language-switcher li {
    float: left;
}

.wpm-language-switcher li.active span {
    font-family: 'WorkSans-Bold';
}

.front .left {
    float: left;
}

.front .right {
    float: right;
}

.landing {
    clear: both;
    overflow: hidden;
}

#landing1 {
    background-color: #e01a4d;
    color: #ffffff;
}

.front #landing1.active {
    height: 100vh;
    width: 100%;
    display: grid;
}

#landing1 .center {
    text-align: center;
}

#landing1 h1 {
    color: #ffffff;
    font-size: 40px;
    font-family: 'WorkSans-Bold';
    letter-spacing: -3px;
}

#landing1 .center p {
    margin: auto;
    max-width: 900px;
}

#landing1 .strike1 {
    font-family: 'WorkSans-Bold';
}

.switcher-list li a, .switcher-list li.active>span {
    color: #fff;
    padding: 5px;
}

.swiper-button-prev-custom, .swiper-button-next-custom {
	width: 33px;
	height: 33px;
	float: right;
    margin-right: 5px;
}

.swiper-button-prev-custom {
    background-image: url('../assets/left.svg');
}

.swiper-button-next-custom {
    background-image: url('../assets/right.svg');
}

.logo, .twitter, .facebook {
    width: 24px;
    height: 24px;
    float: left;
    margin-right: 5px;
}

.logo {
    background-image: url('../assets/logo_footer.svg');
    width: 137px;
    float: left;
}

.twitter {
    background-image: url('../assets/twitter_white.svg');
}

.facebook {
    background-image: url('../assets/facebook_white.svg');
}

.swiper-button-prev-custom, .swiper-button-next-custom {
    position: absolute;
    top: 50%;
    margin-top: calc(-1 * var(--swiper-navigation-size)/ 2);
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper-button-next-custom {
    right: 0;
    left: auto;
}

.front .entry-content {
	top: 50%;
    position: absolute;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 80%;
}

.landing p {
    line-height: 1.3em;
    margin-top: 16px;
}

.landing p.foot {
    margin-top: 30px;
}

.landing .col_left {
    width: 40%;
    padding: 50px;
    float: left;
}

.landing h1 {
    font-size: 30px;
    font-family: 'WorkSans-Bold';
    letter-spacing: -1px;
}

.landing .col_right {
    width: 40%;
    padding: 50px;
    margin-left: 50%;
}

#landing1 .aniversari {
    text-align: center;
}
#landing1 .aniversari h1 {
    font-size: 70px;
}
#landing1 .aniversari h3 {
    color: #ffffff;
    font-size: 35px;
    font-family: 'WorkSans-Bold';
    letter-spacing: -3px;
}
#landing1 .aniversari p {
    margin-top: 20px;
    margin-bottom: 20px;
}
#landing1 .aniversari .landing-btn {
    color: #FFFFFF;
    background-color: #000000;
    margin: 30px auto;
}
#landing1 .footer {
    background-color: transparent;
}

#landing1 .fronticon {
    vertical-align: middle;
    margin-right: 5px;
}

#landing2, #landing4 {
    color: #e01a4d;
    background-color: #fff;
}

#landing3, #landing5 {
    color: #fff;
    background-color: #e01a4d;
}

a.landing-btn {
    width: 240px;
    padding: 5px;
    display: block;
    line-height: 1;
    font-size: 16px;
    font-family: 'WorkSans-Bold';
}

#landingmenu {
    height: 46px;
}

#landingmenu .switcher-list li a {
    padding: 0;
}

#landing2 a.landing-btn {
    color: #fff;
    background-color: #e01a4d;
}

#landing3 a.landing-btn, #landing5 a.landing-btn {
    color: #e01a4d;
    background-color: #fff;
}

#landing5 a.landing-btn.black {
    color: #fff;
    background-color: #000;
}

#landing2 .col_right h1 {
    color: #e01a4d;
    font-size: 60px;
    text-align: right;
    line-height: 1.1em;
}

#landing2 .col_right h3 {
    color: #e01a4d;
    font-size: 16px;
    text-transform: uppercase;
    text-align: right;
}

#landing2 .col_left p {
    color: #000;
}

#landing2 .col_right .type {
    color: #000;
    font-family: 'WorkSans-Bold';
    font-size: 14px;
    text-align: right;
    line-height: 2;
}

#landing2 .col_right .svgimg {
    margin-left: -5px;
    margin-bottom: -4px;
}

#landing2 .col_right .num {
    font-family: 'WorkSans-Bold';
    font-size: 20px;
}

.aporofobia .num {
    color: #f0e52b;
}
.homofobia .num {
    color: #4f4898;
}
.otros .num {
    color: #f8ac00;
}
.islamofobia .num {
    color: #4faf42;
}
.odioideologico .num {
    color: #c26b35;
}
.racismoxenofobia .num {
    color: #db1c46;
}
.transfobia .num {
    color: #bb61a2;
}
.futbol .num {
    color: #29b0e6;
}
.antisemitismo .num {
    color: #c23f32;
}
.disfobia .num {
    color: #61873f;
}
.romafobia .num {
    color: #98B321;
}

#landing2 .col_right .bar {
    height: 20px;    
    display: inline-flex;
    margin-left: 10px;
}

#landing3 .col_right {
    padding: 50px 0 0 50px;
    width: 50%;
}

#landing3 img {
    float: right;
}

#landing4 h1 {
    line-height: 1em;
}

#landing4 .col_left p {
    color: #000;
}

#landing4 .swiper-container {
    width: 90%;
    height: 500px;
}

#landing4 .swiper-container .col_left {
    width: 25%;
}

#landing4 .swiper-container .col_right {
    width: 60%;
    padding: 0;
    margin-left: 35%;
}

#landing5 {
    padding: 50px;
}

#landing5 .tipo {
    border-collapse: separate;
    border-spacing: 0 50px;
}

#landing5 tr td {
    text-align: center;
    border-right: solid 1px #fff;
    padding: 0px 24px;
    width: 25%;
}

#landing5 .clip {
    min-height: 150px;
}

#landing5 .clip img {
    max-width: 100px;
    max-height: 100px;
}

#landing5 h3 {
    font-size: 24px;
    font-family: 'WorkSans-Bold';
    min-height: 40px;
    line-height: 20px;
}

#landing5 h3 .strike1 {
    text-decoration: line-through;
    text-decoration-thickness: 3px;
    color: #000;
}

#landing5 h3 .strike2 {
    color: #fff;
}

#landing5 .landing-btn {
    text-align: center;
    max-width: 140px;
    display: inline-block;
}

#landing5 p {
    font-size: 14px;
    line-height: 16px;
    min-height: 90px;
}

#landing5 .feminicidio {
    text-align: center;
}

#landing5 .feminicidio a {
    color: #000;
    font-family: 'WorkSans-Bold';
}

#typology {
    display: none;
}

/****************************
* media
*/

@media (max-width: 800px) {
    .front-header .right .logo {
        display: none;
    }

    #landing1 .center {
        margin-top: -150px;
    }

    #landing1 .center p {
        margin: 20px;
        font-size: 1.2em;
    }

    #landing1 .aniversari img {
        max-width: 75px;
        max-height: 75px;
    }

    #landing1 .aniversari h1 {
        font-size: 50px;
        line-height: 50px;
    }

    #landing1 .aniversari h3 {
        font-size: 25px;
        line-height: 25px;
    }

    .landing .col_left,
    .landing .col_right {
        width: 100%;
        padding: 20px;
        float: none;
    }

    .landing .col_right {
        margin-left: 0;
    }

    .landing .col_right .type {
        display: none;
    }

    #landing1 h1 {
        font-size: 28px;
    }

    #landing1 .center {
        margin-top: -80px;
    }

    #landing1 .center p {
        font-size: 1em;
    }

    #landing3 .col_right {
        padding: 0;
        width: 100%;
    }

    #landing4 h1 {
        font-size: 36px;
    }

    #landing4 .col_left {
        padding: 20px 0;
    }

    #landing4 .swiper-container .col_left {
        width: 100%;
    }

    #landing4 .swiper-container .col_right {
        width: 100%;
        margin-left: 0;
    }

    #landing5 {
        text-align: center;
    }

    #landing5 table {
        display: none;
    }

    #landing5 .feminicidio {
        display: none;
    }

    #typology {
        display: block;
    }

    #typology {
        width: 100%;
        height: 500px;
    }

    .footer .left {
        font-size: 14px;
    }

    .swiper-button-prev-custom, .swiper-button-next-custom {
        top: 20%;
    }
}